---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="list-none flex p-px bg-gray-800 rounded-lg transition-all duration-600 ease-in-out shadow-inner shadow-white/10">
	<a href={href} class="w-full no-underline leading-relaxed p-6 rounded-lg text-white bg-gray-800 opacity-80 hover:opacity-100">
		<h2 class="m-0 text-xl transition-colors duration-600 ease-in-out">
			{title}
			<span class="inline-block transition-transform duration-300 ease-in-out">&rarr;</span>
		</h2>
		<p class="mt-2 mb-0">
			{body}
		</p>
	</a>
</li>
